#home_container {
      width: 100vw;
      height: 100vh;
      display: flex;
      text-align: right;
      justify-content: flex-end;
      align-content: right;
      align-items: center;
      background-color: #112118;
}


.header_title {
      color: #CCDDCE;
      font-weight: 300;
      font-stretch: normal;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
      color: #efdab9;
      height: auto;
      padding: 15% 15% 40%;
      margin: 16px;
}

#wrap_div {
      width: auto;
      height: auto;
      background-color: #efdab9;
      box-shadow: #E58162 3px 3px;
}

.home_box_container {
      background-color: white;
}
